*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1e3dd;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

h1{
    margin: 40px 0;
    text-align: center;
    color: #667292;
}
h2{
    
    text-align: center;
    color: lightcoral;
}
ul{
    
    color: #667292;
    font-size: 24px;
}